extends layout

block content
  h2= article.name+" "+article.lastname
  p="Type: "+article.sports
  p= "Program: "+article.program
  p= "Year: "+article.year
  p= "Medal: "+article.medal
  h8 Written by #{article.author}
  hr
  a.btn.btn-default(href='/article/edit/'+article._id) Edit
  a.btn.btn-danger.delete-article(href='#', data-id= article._id) Delete
  
